<template lang="html">
    <Frame>
        <HelloWorld />
    </Frame>
    
</template>

<script>

  import HelloWorld from "./HelloWorld.vue";

  export default {
    components: {
      HelloWorld
    }
  };
</script>

<style lang="scss">
    // Start custom common variables
    @import "~@nativescript/theme/scss/variables/blue";
    // End custom common variables

    // Custom styles

</style>
